<div class="userList">
    <div class="search">
        <input name="searchUser" placeholder="Search....." {{action "textEntered" on="input"}}/>
    </div>
    <div  class="allUsers">
        <ul>
        {{#each allUser as |user index|}}
            <li class="user">
                <img src={{user.avatar_url}}/>
                {{#link-to 'users.user' user.login class='name' tagName='p'}}{{user.login}}{{/link-to}}
                <p class="type">{{user.type}}</p>
                <div class="addUserButton" {{action "addToShortListed" user}}>Add</div><div class="removeUserButton" {{action "removeFromAlluser" user}}>Remove</div>
            </li>
        {{/each}}
        </ul>
    </div>

    <div class="sortListedusers">
        <h>Shortlisted</h>
        <ul>
            {{#each shortListedUser as |user index|}}
                <li class="user">
                    <img src={{user.avatar_url}}/>
                    {{#link-to 'users.user' user.login class='name' tagName='p'}}{{user.login}}{{/link-to}}
                    <p class="type">{{user.type}}</p>
                    <div class="removeUserButton" {{action "removeShortlistedUser" user index}}>Remove</div>
                </li>
            {{/each}}
            <li class="user">
                <h>More +</h>
            </li>
        </ul>
    </div>
</div>
